.login form{
   width: 250px;
   padding:8% 0 0 0;
   margin: auto;
}
.form{
  position: relative;
  z-index:1;
  background:white;
  max-width:360px;
  margin: 40px auto 40px;
  padding: 50px ;
  text-align:center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  opacity: 0.8;
  filter:alpha(opacity=10);
}
.form input{
  font-family:"Segoe Print";
  backgroung:#f2f2f2;
  width:100%;
  box-sizing:border-box;
}

.form button{
   font-family:" Comic Sans MS";
   text-transform:uppercase;
   transition:all 0.3 ease;
    -webkit-transition:all 0.3 ease;
}
